// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
/*!
* Know How Training Academya - v1.0.0
* Product Page: https://www.linkedin.com/in/mohamadmurad/
* Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
* Coded by Mohamad Murad
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/
$rfs-unit:px;
$rfs-breakpoint: 1400px !default;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/aos/src/sass/aos.scss";
@import "../../node_modules/select2/src/scss/core.scss";


//@import '../../node_modules/rfs/scss.scss';


// Theme Variables
@import "./know/variables";

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background: $primary-color !important;
}
// Theme Core
@import "./know/theme";


  // import styles bundle
@import 'swiper/css/bundle';

.image-single-wrapper {
    width: 100%;
    min-height: 18rem;
}

.news-border{
    border-color:#ca4 !important;
}
.news-title{
    color: var(--bs-body-color);
}

.news-title:hover{
    color: #ca4;
}

.news-cover img {
    //width: 100%;
    //max-height: 600px;
}

.heading-news h3 {
    font-size: 40px;
    display: block;
    color:var(--bs-body-color);
    font-weight: 700;
}


.btn-facebook {
    background-color: #3b5898!important;
    color: var(--bs-white);
}
.bg-twitter, .btn-twitter {
    background-color: #3992d6!important;
    color: var(--bs-white);
}
.bg-linkedin, .btn-linkedin {
    background-color: #3371b7!important;
    color: var(--bs-white);
}

.bg-pinterest, .btn-pinterest {
    background-color: #c9261a!important;
    color: var(--bs-white);
}

.bg-envelope, .btn-envelope {
    background-color: #f2610b!important;
    color: var(--bs-white);
}

.swiper-button-next:after , .swiper-button-prev::after{
    color: #111C42;
}
