.branch{

    border: 0.2px solid #CCAA44;
    box-shadow: 0 0 5px rgba(119, 119, 119, 0.25);
    border-radius: 9px;
    padding: 20px 20px;
    .branch-city{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        svg{
            margin-right: 8px;
            fill: $secondary-color;
        }
        h4{
            font-family: "Dubai-Bold", serif;
            font-weight: 500;
            margin-bottom: 0;
            text-transform: capitalize;
            color: #111c42;
        }
    }

    .branch-list{
        list-style:disc;
        padding-left: 2rem;

        li{
            margin-bottom: 10px;
        }
    }
}
