// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.btn-secondary {
    font-size: 16px;
    background-color: $secondary-color;
    
    border: $secondary-color;

    &:hover{
        background-color: $secondary-color;
        &:not(.no-hover){
            background: $primary-color;
        }
        
    }

    &:focus{
        outline: 0;
        box-shadow: none;
    }

  
}
