// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.certificate {
  overflow: hidden;
  position: relative;
  background: $primary-color;
  padding: 35px 0;
  @include media-breakpoint-up(xxl) {
    padding: 87px 0;
  }
  .bg-logo {
    position: absolute;
    top: 10%;
    right: 5%;
    @include media-breakpoint-up(xl) {
      top: 10%;
      right: 5%;
    }
    @include media-breakpoint-up(xxl) {
      top: 55px;
      right: 160px;
    }
    img {
      max-width: 155px;
      @include media-breakpoint-up(xl) {
        max-width: 185px;
      }
      @include media-breakpoint-up(xxl) {
        max-width: 240px;
      }
    }
  }

  h2 {
    font-family: "Dubai-Bold", serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;

    @include media-breakpoint-up(lg) {
      font-size: 27px;
      line-height: 32px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 35px;
      line-height: 40px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 41px;
      line-height: 50px;
    }
  }

  p {
    font-family: "Dubai-Regular", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    @include media-breakpoint-up(lg) {
      font-size: 16px;
      line-height: 19px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 19px;
      line-height: 24px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  .certificate-input-group {
      max-width: 750px;
    input {
      @include  input();
        border: 0;
        width: 80%;
    }

    button {
      border: 0;
      border-radius: 3px;
      width: 20%;
      max-height: 68px;
      max-width: 55px;

      &:focus {
        outline: 0 !important;
      }
      @include media-breakpoint-up(lg) {
        max-height: 68px;
        max-width: 64px;
      }
    }
  }

  &::after {

    @include lineProp($secondary-color,0, 25% ,unset, unset );

    @include media-breakpoint-up(sm) {
      @include lineWidthCalc("sm", 0);
    }

    @include media-breakpoint-up(md) {
      @include lineWidthCalc("md", 0);
    }

    @include media-breakpoint-up(lg) {
      @include lineWidthCalc("lg", 0);
    }

    @include media-breakpoint-up(xl) {
      @include lineWidthCalc("xl", 0);
    }

    @include media-breakpoint-up(xxl) {
      @include lineWidthCalc("xxl", 0);
    }
  }

  &::before {

    @include lineProp($secondary-color,unset, unset , 0, 20% );


    @include media-breakpoint-up(sm) {
      @include lineWidthCalc("sm", 0);
    }

    @include media-breakpoint-up(md) {
      @include lineWidthCalc("md", 0);
    }

    @include media-breakpoint-up(lg) {
      @include lineWidthCalc("lg", 0);
    }

    @include media-breakpoint-up(xl) {
      @include lineWidthCalc("xl", 0);
    }

    @include media-breakpoint-up(xxl) {
      @include lineWidthCalc("xxl", 0);
    }
  }

  .container {
    &::after {
      @include lineProp($secondary-color,3% , 15% , unset, unset );


      @include media-breakpoint-up(sm) {
        @include lineWidthCalc("sm", 0);
      }

      @include media-breakpoint-up(md) {
        @include lineWidthCalc("md", 0);
      }

      @include media-breakpoint-up(lg) {
        @include lineWidthCalc("lg", 0);
      }

      @include media-breakpoint-up(xl) {
        @include lineWidthCalc("xl", 0);
      }

      @include media-breakpoint-up(xxl) {
        @include lineWidthCalc("xxl", 0);
      }
    }

    &::before {
      @include lineProp($secondary-color,unset,unset ,0, 30% );

      @include media-breakpoint-up(sm) {
        @include lineWidthCalc("sm", 2%);
      }

      @include media-breakpoint-up(md) {
        @include lineWidthCalc("md", 2%);
      }

      @include media-breakpoint-up(lg) {
        @include lineWidthCalc("lg", 2%);
      }

      @include media-breakpoint-up(xl) {
        @include lineWidthCalc("xl", 2%);
      }

      @include media-breakpoint-up(xxl) {
        @include lineWidthCalc("xxl", 2%);
      }
    }
  }
}
