// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.floating-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 44px;
    right: 1rem;
    border-radius: 50%;
    z-index: 9999;

    cursor: pointer;

    svg {
        width: 4rem;
        height: 4rem;
        @include media-breakpoint-up(sm) {
            width: 5rem;
            height: 5rem;
        }
        @include media-breakpoint-up(md) {
            width: 6rem;
            height: 6rem;
        }
        // @include media-breakpoint-up(lg) {
        //   width: 6rem;
        //   height: 6rem;
        // }
        //   @include media-breakpoint-up(xl) {

        //     width: 4rem;
        //     height: 4rem;
        //   }
        //   @include media-breakpoint-up(xxl) {
        //     width: 4rem;
        //     height: 4rem;
        //   }
    }

    &.active::before, &.active::after, {
        display: block;
    }

    &:before, &:after {
        position: absolute;
        display: none;
        opacity: 0.85;
        transition: all 0.3s ease-in-out;
    }

    &:before {
        top: 30%;
        @include media-breakpoint-down(sm) {
            top: 24%;
        }
        right: 100%;
        line-height: normal;
        margin-right: 10px;
        content: attr(data-tooltip);
        background: $primary-color;
        color: #fff;
        font-size: 13px;
        padding: 7px 11px;
        border-radius: 5px;
        white-space: nowrap;
        text-decoration: none;
    }


    &:after {
        width: 0;
        height: 0;
        border: 6px solid transparent;
        content: "";
        position: absolute;
        display: none;
        opacity: 0.85;
        transition: all 0.3s ease-in-out;
        border-left-color: #111C42;
        border-right: none;
        top: 50%;
        right: 100%;
        margin-top: -6px;
        margin-right: 4px;

    }

}

.chat {
    background: #fff;
    border-radius: 20px;

    overflow: hidden;
    box-shadow: 0px 0px 14px rgb(51 51 51 / 12%);
    position: fixed;
    bottom: 1rem;
    right: -417px;
    // transform: translateX(100vw);
    // -moz-transform: translateX(100vw);
    // -webkit-transform: translateX(100vw);

    transition: all 0.5s ease-out;

    z-index: 999999999;
    width: 417px;
    height: 659px;
    max-height: 90%;
    max-width: 90%;


    &.open {
        right: 1rem;
        // transform: translateX(0vw);
        @include media-breakpoint-up(sm) {
            right: 6rem;
        }
        @include media-breakpoint-up(md) {
            right: 7rem;
        }
    }

    .chat-header {
        font-family: "Dubai-simebold";
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(249, 252, 254, 1);
        border-bottom: 0.5px solid #c6c6c8;
        border-bottom: 0.5px solid #c6c6c8;
        min-height: 10%;
        max-height: 10%;
        font-weight: 600;
        font-family: "Dubai-simebold";
        font-size: 17px;
    }

    .chat-body {
        display: flex;
        min-height: 30%;
        max-height: 30%;
        background: rgba(249, 252, 254, 1);

        .messages {
            flex: 1;

            padding: 10px;
            margin: 0;
            list-style: none;
            overflow-y: auto;
            overflow-x: hidden;
            border-radius: 4px;
            background: transparent;

            li {
                font-family: "Dubai-Regular", serif;
                position: relative;
                clear: both;
                display: inline-block;
                padding: 8px;
                margin: 0 0 20px 0;
                font-size: 20px;
                font-weight: 400;
                color: #333333;
                word-wrap: break-word;
                max-width: 81%;

                &.other {
                    animation: show-chat-odd 0.15s 1 ease-in;
                    -moz-animation: show-chat-odd 0.15s 1 ease-in;
                    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
                    float: left;
                    margin-left: 20px;
                    color: rgba(51, 51, 51, 1);
                    border-radius: 16px 16px 16px 2px;
                    background-color: #b3e8ff;
                    border: 1px solid #5BC5F2;

                    &.typing {
                        span {
                            height: 10px;
                            width: 10px;
                            float: left;
                            margin: 0 1px;
                            background-color: #9e9ea1;
                            display: block;
                            border-radius: 50%;
                            opacity: 0.4;

                            &:nth-of-type(1) {
                                -webkit-animation: 1s blink infinite 0.3333s;
                                animation: 1s blink infinite 0.3333s;
                            }

                            &:nth-of-type(2) {
                                -webkit-animation: 1s blink infinite 0.6666s;
                                animation: 1s blink infinite 0.6666s;
                            }

                            &:nth-of-type(3) {
                                -webkit-animation: 1s blink infinite 0.9999s;
                                animation: 1s blink infinite 0.9999s;
                            }
                        }
                    }
                }

                &.self {
                    animation: show-chat-even 0.15s 1 ease-in;
                    -moz-animation: show-chat-even 0.15s 1 ease-in;
                    -webkit-animation: show-chat-even 0.15s 1 ease-in;
                    float: right;
                    margin-left: 20px !important;
                    color: rgba(51, 51, 51, 1);
                    border-radius: 16px 16px 2px 16px;
                    background-color: #b0bcc1;
                    border: 1px solid #6f7374;
                }
            }
        }
    }

    .chat-footer {
        //display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        min-height: 55%;
        max-height: 15%;
        background-color: #fff;
        border-top: 0.5px solid rgba(60, 60, 67, 0.29);
        border-radius: 0 0 20px 20px;
        padding-top: 12px;
        overflow-y: scroll;

        .questions {
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0 16px;

            li {
                cursor: pointer;
                font-family: "Dubai-Regular", serif;
                margin: 12px 0px;
                padding: 9px 16px;
                border-radius: 20px 20px 2px 20px;
                border: 0.5px solid #cbd7e2;
                font-weight: 400;
                font-size: 17px;
                color: #333333;
            }
        }

        .input-group {
            padding: 0 16px;

            input {
                background: rgba(142, 142, 147, 0.12);
                border: 0 !important;
                border-radius: 10px;
                font-size: 17px;
                color: rgba(0, 0, 0, 0.2);

                padding: 7px 20px;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            button {
                background: rgba(142, 142, 147, 0.12);
                border: 0 !important;
                border-radius: 10px;
                margin-left: 0 !important;
                padding: 0.375rem 0.75rem;
                padding-right: 16px;
            }
        }
    }
}

@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}


@-webkit-keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}
