// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.intro-single {
    margin-top: 70px;
    @include media-breakpoint-up(md) {
        margin-top: 100px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 100px;
    }

    .title-single-box {
        padding: 1rem 0 1rem 0;

        .title-single {
            font-family: "Dubai-Bold", serif;
            color: $primary-color;
            font-size: 30px !important;
            margin-bottom: 35px;
            @include media-breakpoint-up(xxl) {
                font-size: 36px !important;
                margin-bottom: 48px;
            }
        }

        .contact-desc {
            font-weight: 400;
            text-align: justify;
            @include font-size(23px);

        }

    }

}

.section-t8 {
    padding-top: 8rem;
}

.contact {
    border-bottom: 2px solid #333333;
    margin-top: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-up(md) {
        margin-top: 30px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 40px;
    }

    .contactForm {
        #sendmessage {

            color: $secondary-color;
            border: 1px solid $secondary-color;
            display: none;
            text-align: center;
            padding: 15px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        #errormessage{
            color: red;
            display: none;
            border: 1px solid red;
            text-align: center;
            padding: 15px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        label{
            color: #000000;
        }
        input {

            &:focus{
                box-shadow: none;
                border-color: #FF9B85;
            }
            border-color: #aeb0b9;
        }

        textarea {
            &:focus{
                box-shadow: none;
                border-color: #FF9B85;
            }
            border-color: #aeb0b9;

        }
    }

    .contact-info {
        background-color: #f5f5f7;
        // color: #012951;
        background: -webkit-linear-gradient(267.18deg, #111C42 7.62%, #071235 96.01%);;;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
.pl-16{
    margin-left: 21px;
}
        .icon-box-content{

            margin-bottom: 20px;
            @include media-breakpoint-down(md){
                text-align: center;
            }
        }
        h4{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 18px;
            color: #111c42;
            @include media-breakpoint-down(md){
               text-align: center;
            }

        }
        p {
            font-size: 16px;
        }
    }

}
