// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
@font-face {
    font-family: "Dubai-Regular";
    src: url(../../fonts/Dubai-Regular.ttf) ;
    // font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Dubai-Bold";
    src: url(../../fonts/Dubai-Bold.ttf) ;
    // font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Dubai-Light";
    src: url(../../fonts/Dubai-Light.ttf) ;
    // font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Dubai-simebold";
    src: url(../../fonts/Dubai-Bold.ttf);
    // font-weight: 400;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: "Dubai-Regular", serif
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}


.color-secondary {
    color: $secondary-color;
}

.color-white {
    color: $color-white;
}

.input-color {
    color: $input-color;
}

a{
    text-decoration: none;
}


.hover{
    transition: all 0.2s ease-in-out;
    position: relative;
    padding-bottom: 0;
    cursor: pointer;
    &::after {
        bottom: 0;
        content: "";
        display: block;
        height: 2px;

        position: absolute;
        border-bottom: 1.5px solid $secondary-color;
        transition: width 0.4s ease 0s, left 0.3s ease 0s;
        width: 0;
        left: 0;
    }

    &.active,
    &:hover {
        &::after {
            width: 100%;
        }

    }


}
