.course-item{
    $midnight: #2c3e50;
    img {
        width: 100%;
        height: auto;
        max-height: 250px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .body-content {
        background: $primary-color;
        padding: 0 30px 120px 40px;
        position: relative;
        border: 1px solid $primary-color;
        border-top: none;
        z-index: 1;
        line-height: 23px;
        color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &:before {
            content: '';
            position: absolute;
            top: -30px;
            left: 0;
            width: 100%;
            height: 50px;
            background: $primary-color;
            border-left: 1px solid $primary-color;
            border-right: 1px solid $primary-color;
            transform: skewY(5deg);
            z-index: -1;
            box-shadow: 0 -4px 5px rgba(0,0,0,0.4);
        }

        h3 {
            margin-bottom: 15px;
            font-family: 'Dubai-Regular', serif;
            font-weight: 900;
            font-size: 22px;
        }

        .round-btn {
            position: absolute;
            bottom: 25px;
            left: 40px!important;
            width: 60px;
            height: 60px;
            font-size: 22px;
            line-height: 60px;
            text-align: center;
            background: #fff;
            color: $midnight;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            z-index: 1;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.0);
            -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.0);

            &:hover {
                -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.12);
                -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.12);
                box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.12);
            }
        }
    }
}
