// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.department {
  margin-top: 40px;
  @include media-breakpoint-up(md) {
    margin-top: 50px;
  }
  @include media-breakpoint-up(xxl) {
    margin-top: 70px;
  }
  .section-title{
    h2 {
      font-family: "Dubai-Bold", serif;
      color: $primary-color;
      font-size: 30px !important;
      margin-bottom: 35px;
      @include media-breakpoint-up(xxl) {
        font-size: 36px !important;
        margin-bottom: 48px;
      }
    }
  }
 

  .departments {
    margin-bottom: 50px;
    @include media-breakpoint-up(md) {
      margin-bottom: 70px;
    }
    @include media-breakpoint-up(xxl) {
      margin-bottom: 90px;
    }
    & > div {
      .department-card {
        padding-bottom: 5px;
        @include media-breakpoint-down(md){
          text-align: center;
        }

        @include media-breakpoint-up(sm) {
          padding-bottom: 10px;
        }
        @include media-breakpoint-up(lg) {
          border-right: 1px solid $secondary-color;
        }
        @include media-breakpoint-up(xl) {
          padding-bottom: 40px;
          padding-right: 50px;
          padding-left: 50px;
        }

        .department-num {
          margin-bottom: 1px;
          // @include media-breakpoint-up(xl) {
          //   margin-bottom: 1px;
          // }
          span {
            color: $secondary-color;
            font-family: "Dubai-Bold", serif;
            font-weight: 500;

            @include font-size(36px);
            // font-size: 26px;
            // // line-height: 30px;
            // @include media-breakpoint-up(xl) {
            //   font-size: 30px;
            //   // line-height: 35px;
            // }
            // @include media-breakpoint-up(xxl) {
            //   font-size: 36px;
            //   // line-height: 44px;
            // }
          }
        }
        .department-name {
          margin-bottom: 10px;
          // @include media-breakpoint-up(xl) {
          //   margin-bottom: 45px;
          // }
          h2 {
            color: $primary-color;
            font-family: "Dubai-Bold", serif;
            font-weight: 500;

            @include font-size(36px);
            // font-size: 24px;
            // // line-height: 25px;
            // @include media-breakpoint-up(xl) {
            //   font-size: 26px;
            //   // line-height: 3px;
            // }
            // @include media-breakpoint-up(xxl) {
            //   font-size: 36px;
            //   // line-height: 44px;
            // }
          }
        }
        .department-desc {
          margin-bottom: 15px;
          p {
            color: rgba(17, 28, 66, 0.65);
            font-family: "Dubai-Medium", serif;
            font-weight: 300;
          
            margin-bottom: 0 !important;

            @include font-size(24px);
            // font-size: 18px;
            // line-height: 22px;
            // @include media-breakpoint-up(xl) {
            //   font-size: 20px;

            //   line-height: 25px;
            // }
            // @include media-breakpoint-up(xxl) {
            //   font-size: 24px;
            //   line-height: 29px;
            //   // line-height: 29px;
            // }
          }
        }

        .department-btn {
          button {
            border-radius: 4px;
            padding: 10px 15px;
            font-family: "Dubai-Regular", serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 12px;
            @include media-breakpoint-up(xxl) {
              padding: 10px 14px;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }

        &::after {
          content: "";
          border-bottom: 1px solid $secondary-color;
          width: 0%;
          position: absolute;
          right: 0.5rem;
          left: unset;
         
          @include media-breakpoint-up(sm) {
            @include lineWidthCalc("sm", 0);
          }
          @include media-breakpoint-up(md) {
            content: unset;
          }
          @include media-breakpoint-up(lg) {
            @include lineWidthCalc("lg", 0);
          }
          @include media-breakpoint-up(xl) {
            @include lineWidthCalc("xl", 0);
          }
          @include media-breakpoint-up(xxl) {
            @include lineWidthCalc("xxl", 0);
          }
        }
      }

      @include media-breakpoint-up(md) {
        &:nth-child(even) {
          &::after {
            content: "";
            border-bottom: 1px solid $secondary-color;
            position: absolute;
            right: 0.5rem;
            left: unset;
            @include lineWidthCalc("md", 0);
            @include media-breakpoint-up(lg) {
              content: unset;
            }
          }
        }

        &:nth-child(odd) {
          .department-card {
            border-right: 1px solid $secondary-color;
          }
          &::after {
            content: "";
            border-bottom: 1px solid $secondary-color;
            position: absolute;
            left: 0.5rem;
            right: unset;
            @include lineWidthCalc("md", 0);
            @include media-breakpoint-up(lg) {
              content: unset;
            }
          }
        }
      }

      @include media-breakpoint-up(lg) {
        &:nth-child(even) {
          &::after {
            content: unset;
          }
        }

        &:nth-child(odd) {
          &::after {
            content: unset;
          }
        }

        &:nth-child(3n + 1) {
          &::after {
            content: "";
            border-bottom: 1px solid $secondary-color;
            position: absolute;
            left: 0.5rem;
            right: unset;
            @include lineWidthCalc("lg", 0);
          }
        }
        &:nth-child(3n + 3) {
          .department-card {
            border-right: 0;
          }

          &::after {
            content: "";
            border-bottom: 1px solid $secondary-color;
            position: absolute;
            right: 0.5rem;
            left: unset;
            @include lineWidthCalc("lg", 0);
          }
        }
      }

      @include media-breakpoint-up(xl) {
        &:nth-child(3n + 1) {
          &::after {
            @include lineWidthCalc("xl", 0);
          }
        }

        &:nth-child(3n + 3) {
          &::after {
            @include lineWidthCalc("xl", 0);
          }
        }
      }

      @include media-breakpoint-up(xl) {
        &:nth-child(3n + 1) {
          &::after {
            @include lineWidthCalc("xl", 0);
          }
        }

        &:nth-child(3n + 3) {
          &::after {
            @include lineWidthCalc("xl", 0);
          }
        }
      }

      &::after {
        content: "";
        border-bottom: 1px solid $secondary-color;
        width: 0%;
        position: absolute;
        left: 0.5rem;
        right: unset;
        @include media-breakpoint-up(sm) {
          @include lineWidthCalc("sm", 0);
        }
        @include media-breakpoint-up(md) {
          @include lineWidthCalc("md", 0);
        }
        @include media-breakpoint-up(lg) {
          @include lineWidthCalc("lg", 0);
        }
        @include media-breakpoint-up(xl) {
          @include lineWidthCalc("xl", 0);
        }
        @include media-breakpoint-up(xxl) {
          @include lineWidthCalc("xxl", 0);
        }
      }
    }
  }
}
