// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.footer {
  background-color: #f5f5f7;
  // color: #012951;
  background: -webkit-linear-gradient(267.18deg, #111C42 7.62%, #071235 96.01%);;;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 60px 0;

  .footer-row {
    & > div {
      padding: 0 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        padding: 0 0;
        text-align: start;
      }

      @include media-breakpoint-up(lg) {
        padding: 0px 20px;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 41px;
      }

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    .footer-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 25px;

      p {
        font-size: 16px;
      }
    }

    .footer-content {
      .footer-logo {
        max-height: 72px;
        max-width: 110px;
        margin-bottom: 25px;

        @include media-breakpoint-up(md) {
          max-width: 110px;
        }

        @include media-breakpoint-up(lg) {
          max-width: 132px;
        }
      }


    }
  }
}
.footer-contact{
    li{
        margin-bottom: 12px;
        a{
            display: flex;
            justify-content: flex-start;
            @include media-breakpoint-down(md){
                justify-content: center;
            }
            align-items: center;
            gap: 12px;
            svg{
                fill: #111C42 ;
            }
        }
    }
}

.copy-right {
  border-top: 2px solid #333333;
  padding: 10px 0;
  background-color: #f5f5f7;
  font-size: 10px;

  @include media-breakpoint-up(md) {
    font-size: 13px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}
