// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.header-root {
    position: relative;
    margin-top: 50px;
    .img-overlay {
        background-image: url("../../img/header-bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;

        &::before {
            content: "";
            width: 100%;
            position: absolute;
            height: 100%;
            background: rgba(255, 255, 255, 0.88);
            z-index: 1;
        }
    }

    .know-header {
        display: flex;
        align-items: flex-end;
        min-height: $header-height;
        padding-bottom: 44px;

        @include media-breakpoint-up(sm) {
            min-height: $header-height-sm;
            padding-bottom: 44px;
        }
        @include media-breakpoint-up(md) {
            min-height: $header-height-md;
            padding-bottom: 54px;
        }
        @include media-breakpoint-up(lg) {
            min-height: $header-height-lg;
            padding-bottom: 54px;
        }
        @include media-breakpoint-up(xl) {
            min-height: $header-height-xl;
            padding-bottom: 54px;
        }
        @include media-breakpoint-up(xxl) {
            min-height: $header-height-xxl;
            padding-bottom: 64px;
        }

        .header-row {
            //@include media-breakpoint-up(md) {
            //    //   height: calc(714px / 2);
            //    height: calc($header-height-lg * 1.02 / 2);
            //}
            @include media-breakpoint-up(xl) {

                height: calc($header-height-xl * 1.02 / 2);

            }

            @include media-breakpoint-up(xxl) {

                height: calc($header-height-xxl * 1.02 / 2);

            }

            @include media-breakpoint-down(lg) {
                // on mobile
                padding-top: 44px;
                flex-direction: column-reverse;

                text-align: center;
            }
        }

        .header-content {
            z-index: 2;
            float: left;
            margin-top: 20px;
            @include media-breakpoint-up(md) {
                margin-top: 0;
            }

            h1 {
                color: $secondary-color;
                text-transform: uppercase;
                font-weight: 700;
                @include font-size(47px);
                @include rfs(39px, margin-bottom);
                // font-size: $title-font-size;
                // margin-bottom: $title-margin-bottom;
                // @include media-breakpoint-up(sm) {
                //   font-size: $title-font-size-sm;
                //   margin-bottom: $title-margin-bottom-sm;
                // }
                // @include media-breakpoint-up(md) {
                //   font-size: $title-font-size-md;
                //   margin-bottom: $title-margin-bottom-md;
                // }
                // @include media-breakpoint-up(lg) {
                //   font-size: $title-font-size-lg;
                //   margin-bottom: $title-margin-bottom-lg;
                // }
                // @include media-breakpoint-up(xl) {
                //   font-size: $title-font-size-xl;
                //   margin-bottom: $title-margin-bottom-xl;
                // }
                // @include media-breakpoint-up(xxl) {
                //   font-size: $title-font-size-xxl;
                //   margin-bottom: $title-margin-bottom-xxl;
                // }
                span {
                    // color: $primary-color;
                    background: -webkit-linear-gradient(
                            267.18deg,
                            #111c42 7.62%,
                            #071235 96.01%
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            p {
                font-weight: 400;
                text-align: justify;
                @include font-size(23px);
                @include rfs(39px, margin-bottom);
                // font-size: $p-font-size;
                // margin-bottom: $p-margin-bottom;
                // @include media-breakpoint-up(sm) {
                //   font-size: $p-font-size-sm;
                //   margin-bottom: $p-margin-bottom-sm;
                // }
                // @include media-breakpoint-up(md) {
                //   font-size: $p-font-size-md;
                //   margin-bottom: $p-margin-bottom-md;
                // }
                // @include media-breakpoint-up(lg) {
                //   font-size: $p-font-size-lg;
                //   margin-bottom: $p-margin-bottom-lg;
                // }
                // @include media-breakpoint-up(xl) {
                //   font-size: $p-font-size-xl;
                //   margin-bottom: $p-margin-bottom-xl;
                // }
                // @include media-breakpoint-up(xxl) {
                //   font-size: $p-font-size-xxl;
                //   margin-bottom: $p-margin-bottom-xxl;
                // }
            }
        }

        .header-img {
            display: flex;
            justify-content: center;

            .rectangle {
                border: 3px solid $secondary-color;

                border-radius: 1.5px;
                width: 300px;
                max-width: 80vw;
                height: calc(376px + 30px );
                // max-height: 80vh;
                position: relative;

                margin-bottom: 17px;
                @include media-breakpoint-up(sm) {
                    width: 320px;
                    height: calc(401px + 30px );

                }
                @include media-breakpoint-up(md) {
                    width: 575px;
                    height: calc(721px + 30px);

                    // width: $rectangle-width-md;
                    // height: calc($header-height-md * 1.02);
                    // bottom: calc($header-height-md * -0.15);


                }
                @include media-breakpoint-up(lg) {
                    border-radius: 3px;
                    max-width: unset;
                    max-height: unset;
                    position: absolute;

                    width: 408px;
                    height: calc(511px + 50px);
                    bottom: calc($header-height-lg * -0.15);
                    right: 7%;
                    margin-bottom: 0;
                }
                @include media-breakpoint-up(xl) {
                    width: 448px;
                    height: calc(562px + 50px);
                    bottom: calc($header-height-xl * -0.15);
                }
                @include media-breakpoint-up(xxl) {
                    width: 530px;
                    height: calc(664px + 50px);
                    bottom: calc($header-height-xxl * -0.15);
                    right: 9%;
                }

                img {
                    /* position: absolute; */

                    object-fit: cover;
                    border-radius: 1.5px;
                    width: 300px;
                    max-width: 80vw;
                    height: 376px;
                    // max-height: 70vh;
                    bottom: 15px;
                    right: 15px;
                    position: absolute;

                    @include media-breakpoint-up(sm) {
                        width: 320px;
                        height: 401px;
                        // max-width: 80vw;
                    }
                    @include media-breakpoint-up(md) {
                        width: 575px;
                        height: 721px;

                        // width: calc(28vw + ($img-bottom-size-md * 2));
                        // height: calc($header-height-md * 1.02 - ($img-bottom-size-md * 2));
                        // bottom: $img-bottom-size-md;
                        // right: $img-bottom-size-md;
                    }
                    @include media-breakpoint-up(lg) {
                        border-radius: 3px;
                        max-width: unset;
                        max-height: unset;
                        position: absolute;
                        width: 408px;
                        height: 511px;
                        bottom: $img-bottom-size-lg;
                        right: $img-bottom-size-lg;
                    }
                    @include media-breakpoint-up(xl) {
                        width: 448px;
                        height: 562px;
                        bottom: $img-bottom-size-xl;
                        right: $img-bottom-size-xl;
                    }
                    @include media-breakpoint-up(xxl) {
                        width: 530px;
                        height: 664px;
                        bottom: $img-bottom-size-xxl;
                        right: $img-bottom-size-xxl;
                    }
                }
            }
        }

        .header-nav {
            padding: 0;
            box-shadow: -5px 4px 9px rgba(166, 166, 166, 0.25);
            border-radius: 10px;
            background-color: #fff;

            .search-form {
                flex: 1;
                width: 100%;

                input {
                    border: 0;
                    font-size: $search-input-font-size;
                    @include media-breakpoint-up(sm) {
                        font-size: $search-input-font-size-sm;
                        padding: 0;
                    }
                    @include media-breakpoint-up(md) {
                        font-size: $search-input-font-size-md;
                        padding: 0;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: $search-input-font-size-lg;
                        padding: 0;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: $search-input-font-size-xl;
                        padding: 0;
                    }
                    @include media-breakpoint-up(xxl) {
                        font-size: $search-input-font-size-xxl;
                        padding: 0;
                    }

                    &:focus {
                        border: 0;
                        outline: unset;
                        box-shadow: unset;
                    }
                }

                .header-search-btn {
                    font-size: $search-btn-font-size;
                    @include media-breakpoint-up(sm) {
                        padding: 5px 13px;
                        margin-right: 13px;
                        font-size: $search-btn-font-size-sm;
                    }
                    @include media-breakpoint-up(md) {
                        padding: 9px 20px;
                        margin-right: 22px;
                        font-size: $search-btn-font-size-md;
                    }
                    @include media-breakpoint-up(lg) {
                        padding: 9px 20px;
                        margin-right: 22px;
                        font-size: $search-btn-font-size-lg;
                    }
                    @include media-breakpoint-up(xl) {
                        padding: 10px 26px;
                        margin-right: 30px;
                        font-size: $search-btn-font-size-xl;
                    }
                    @include media-breakpoint-up(xxl) {
                        padding: 12px 35px;
                        margin-right: $search-btn-font-size-xxl;
                    }
                }
            }

            .nav-item {
                // &:first-child{
                //   border-right: 1px solid #e6e6e6;
                // }

                @include media-breakpoint-up(md) {
                    border-left: 1px solid #e6e6e6;
                    //  padding: 14px;
                }
                .select2-container--default{
                    max-width: 120px;
                }

                .select2-container--default .select2-selection--single {
                    height: 42px;
                    @include media-breakpoint-up(sm) {
                        height: 56px;
                    }
                    @include media-breakpoint-up(md) {
                        height: 56px;
                    }
                    @include media-breakpoint-up(lg) {
                        height: 60px;
                    }
                    @include media-breakpoint-up(xl) {
                        height: 58px;
                        //padding: 15px;
                    }
                    @include media-breakpoint-up(xxl) {
                        height: 67px;
                    }

                    font-weight: 400;

                    border: 0 !important;
                    font-size: $dropdown-nav-link-font-size;
                    @include media-breakpoint-up(sm) {
                        font-size: $dropdown-nav-link-font-size-sm;
                    }
                    @include media-breakpoint-up(md) {
                        font-size: $dropdown-nav-link-font-size-md;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: $dropdown-nav-link-font-size-lg;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: $dropdown-nav-link-font-size-xl;
                    }
                    @include media-breakpoint-up(xxl) {
                        font-size: $dropdown-nav-link-font-size-xxl;
                    }

                    .select2-selection__rendered {
                        font-family: "Dubai-Regular";
                        color: #000 !important;
                        padding: 6px;
                        @include media-breakpoint-up(sm) {
                            padding: 13px;
                        }
                        @include media-breakpoint-up(md) {
                            //  border-left: 1px solid #e6e6e6;
                            padding: 14px;
                        }
                        @include media-breakpoint-up(lg) {
                            padding: 16px;
                        }
                        @include media-breakpoint-up(xl) {
                            //  height: 58px;
                            padding: 15px;
                        }
                        @include media-breakpoint-up(xxl) {
                            padding: 20px;
                        }
                    }

                    .select2-selection__arrow {
                        @include media-breakpoint-up(sm) {
                            top: 13px;
                        }
                        @include media-breakpoint-up(md) {
                            //  border-left: 1px solid #e6e6e6;
                            top: 14px;
                        }
                        @include media-breakpoint-up(lg) {
                            top: 16px;
                        }
                        @include media-breakpoint-up(xl) {
                            //  height: 58px;
                            top: 15px;
                        }
                        @include media-breakpoint-up(xxl) {
                            top: 20px;
                        }
                    }
                }

                .navbar-dropdown-icon {
                    display: inline-block;
                    width: 12px;
                    height: 7px;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%229%22%20viewBox%3D%220%200%2014%209%22%20fill%3D%22none%22%3E%0D%0A%3Cpath%20d%3D%22M2.49981%200.89961L6.9998%205.39961L11.4998%200.89961L13.2998%201.79961L6.9998%208.09961L0.699805%201.79961L2.49981%200.89961Z%22%20fill%3D%22%23012951%22%2F%3E%0D%0A%3C%2Fsvg%3E");
                }
            }
        }
    }

    .container {
        & > div {
            & > div {
                z-index: 2;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #headerNavSearch {
        flex-direction: column-reverse;
        justify-content: center;

        padding: 12px;

        input {
            padding-left: unset;
        }

        ul {
            flex-direction: column !important;
            width: 100%;

            li {
                width: 100%;
                margin-bottom: 12px;

                padding-left: unset;

                .select2 {
                    width: 100% !important;
                }

                .select2-container {
                    min-width: 140px;
                }

                .select2-container
                .select2-selection--single
                .select2-selection__rendered {
                    padding-left: unset;
                }
            }
        }

    }
}
