.instructors-section{
    margin-top: 70px;
    @include media-breakpoint-up(md) {
        margin-top: 100px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 100px;
    }
    min-height: 900px;



    .section-title{
        h2 {
            font-family: "Dubai-Bold", serif;
            color: $primary-color;
            font-size: 30px !important;
            margin-bottom: 35px;
            @include media-breakpoint-up(xxl) {
                font-size: 36px !important;
                margin-bottom: 48px;
            }
        }
    }

    .section-content{

        .instructors{
            .instructors-card{
                background: $primary-color;
                border-radius: 5px;
                box-shadow: 0 10px 20px -10px rgba(0,0,0,0.75);
                color: #B3B8CD;
                padding: 30px 10px ;
                position: relative;
                width: 350px;
                max-width: 100%;
                text-align: center;
                overflow: hidden;
                margin: 0 auto;

                img{
                    border: 2px solid $secondary-color;
                    border-radius: 50%;
                    padding: 7px;
                    object-fit: cover;
                    height: 150px;
                    width: 150px !important;
                }

                h3{
                    font-family: "Dubai-Bold", serif;
                    margin: 10px 0;
                    @include font-size(26px);
                }
                h5{
                    margin: 10px 0;
                    text-transform: uppercase;
                    @include font-size(18px);
                    font-family: "Dubai-Light", serif;
                }
                p{
                    font-size: 14px;
                    line-height: 21px;
                    @include font-size(16px);
                    font-family: "Dubai-Light", serif;
                }

                .social-links{
                    a{
                        color: #fff;
                        margin-inline-end: 5px;
                    }
                }
            }
        }
    }

}
