// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
@mixin lineWidthCalc($breakpoint, $subtract) {
  @if $subtract != 0 {
    width: calc(
      (
          100vw -
            map-get($container-max-widths, $breakpoint) -
            var(--bs-gutter-x, 0.75rem)
        ) /
        2 -
        $subtract
    );
  }
  @if $subtract == 0 {
    width: calc(
      (
          100vw -
            map-get($container-max-widths, $breakpoint) -
            var(--bs-gutter-x, 0.75rem)
        ) /
        2
    );
  }
}


@mixin lineMaginLeftCalc($breakpoint, $subtract) {
  @if $subtract != 0 {
    margin-left: calc(
      (
          100vw -
            map-get($container-max-widths, $breakpoint) -
            var(--bs-gutter-x, 0.75rem)
        ) /
        2 -
        $subtract
    );
  }
  @if $subtract == 0 {
    margin-left: calc(
      (
          100vw -
            map-get($container-max-widths, $breakpoint) -
            var(--bs-gutter-x, 0.75rem)
        ) /
        2
    );
  }
}

@mixin lineProp($border-color,$left , $bottom , $right, $top) {
    content: "";
    border-bottom: 2px solid $border-color;
    position: absolute;
    left: $left;
    bottom: $bottom;
    right: $right;
    top: $top;
}


@mixin nextPrevSizes {

  svg {
    z-index: 99999;
    width: 30px;
    height: 11px;
    @include media-breakpoint-up(sm) {
      width: 40px;
      height: 11px;
    }
    @include media-breakpoint-up(md) {
      width: 51px;
      height: 16px;
    }
    @include media-breakpoint-up(lg) {
      width: 51px;
      height: 16px;
    }
  }

}
@mixin input {

    color: rgba(149, 149, 149, 1);
    font-family: "Dubai-Regular", serif;
    font-weight: 400;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;

    &:focus {
        outline: 0 !important;
        border-color: #0b163b;
        box-shadow: unset;
    }

    @include media-breakpoint-up(xl) {
        padding: 15px 20px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 19px 27px;
    }
}
