// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
$afterBeforeBg: url("data:image/svg+xml,%0D%0A%3Csvg%20width%3D%2261%22%20height%3D%22109%22%20viewBox%3D%220%200%2061%20109%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%3Cpath%20d%3D%22M50.2412%2032.1797C49.7612%2063.3597%2028.8212%2096.5997%200.411183%20105.99C-0.538817%20104.61%200.311173%20104.24%201.40117%20103.75C4.51117%20102.38%207.72116%20101.25%2010.7012%2099.4097C33.5112%2085.2797%2046.6212%2063.5297%2049.9712%2034.2397C50.0512%2033.5497%2050.1512%2032.8597%2050.2412%2032.1797Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M27.4414%20105.49C22.9014%20109.83%2011.4314%20110.95%209.73145%20103.07C14.1914%2099.72%2023.1614%20100.94%2027.4414%20105.49Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M20.251%2095.8695C24.891%2091.6395%2033.451%2090.6995%2038.201%2093.7995C33.201%2099.7495%2023.381%20102.04%2020.251%2095.8695Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M47.7112%2079.4502C42.6112%2087.7002%2033.7312%2091.1402%2029.7212%2086.5402C35.1012%2080.2102%2041.1812%2079.7002%2047.7112%2079.4502Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M38.2412%2075.6195C39.9712%2070.4395%2047.5312%2065.2295%2054.3412%2064.5195C51.5612%2072.4695%2042.9412%2078.4195%2038.2412%2075.6195Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M58.851%2048.8701C56.231%2057.9701%2050.091%2064.0401%2044.791%2062.9201C45.931%2057.4601%2052.491%2050.8401%2058.851%2048.8701Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M8.85139%2099.56C7.65139%2094.24%2010.2114%2086%2014.6814%2080.54C17.3914%2086.96%2014.5714%2096.35%208.85139%2099.56Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M60.5813%2033.2598C60.4713%2040.9498%2054.7713%2049.2398%2049.3913%2049.5198C49.3213%2044.4598%2054.8013%2036.4898%2060.5813%2033.2598Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M18.6712%2092.9899C17.0412%2086.3799%2018.5912%2080.1599%2021.8412%2073.9199C25.6412%2078.7599%2024.0212%2088.9399%2018.6712%2092.9899Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M60.0612%2017.5195C60.7312%2026.4495%2057.0012%2034.2895%2051.4312%2036.0095C51.4312%2028.3995%2055.5612%2023.1595%2060.0612%2017.5195Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M27.8709%2084.1799C25.2609%2079.6699%2025.6609%2070.9899%2028.6509%2065.6699C32.8309%2071.0199%2032.5309%2079.3399%2027.8709%2084.1799Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M51.891%2022.41C50.371%2017.98%2052.371%2010.34%2056.761%203.75C59.231%207.58%2057.541%2020.14%2051.891%2022.41Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M33.8815%2056.2598C38.6615%2059.1998%2039.7014%2068.4198%2035.8314%2073.4698C32.6614%2070.8398%2031.7215%2062.5198%2033.8815%2056.2598Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M41.9814%2061.55C38.3214%2059.09%2036.3814%2051.84%2037.7314%2045.96C42.9514%2048.06%2045.2314%2056.1%2041.9814%2061.55Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M46.3412%2048.8701C42.4112%2047.6601%2039.5012%2041.4301%2039.9212%2035.3301C44.3112%2035.6701%2049.3412%2042.9301%2046.3412%2048.8701Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M48.6214%2036.0996C44.2514%2035.2596%2040.8214%2030.2996%2040.4414%2024.4496C45.8414%2024.0996%2050.0314%2029.9296%2048.6214%2036.0996Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M45.0112%200C49.5012%201.28%2052.6612%2010.22%2049.3512%2014.51C45.7512%2012.91%2043.9812%206.97%2045.0112%200Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3Cpath%20d%3D%22M39.1812%2013.7298C45.0212%2012.8498%2049.5612%2017.3798%2048.8812%2023.2098C44.8712%2023.7998%2040.5012%2019.6098%2039.1812%2013.7298Z%22%20fill%3D%22%2344A048%22%2F%3E%0D%0A%3C%2Fsvg%3E");

.know-modal {
  .modal-content {
    background: #ffffff;
    box-shadow: 0px 0px 14px rgb(51 51 51 / 12%);
    border-radius: 10px 10px 78px 78px;
    //height: 467px;
    //max-height: 80vh;
    border: 0;

    .modal-body {
        padding: 1rem 60px;
        .top-icon{
            margin-top: 1em;
        }

        .msg-icon{
          width:156px ;
          height: 172px;

          max-width: 50%;
          max-height: 50%;
        }
        p{
            color: #0F1A3F;
            font-weight: 500;
            font-size: 32px;

            margin-bottom: 1em;
            flex: 0;

            @include media-breakpoint-down(md) {
              font-size: 27px;
            }
        }
    }
    &::before {
      content: "";
      background: $afterBeforeBg;
      position: absolute;
      display: inline-block;
      width: 60px;
      height: 108px;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      bottom: 14px;
      left: 15px;

      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipV;
      -ms-filter: "FlipV";


    }

    &::after {
      content: "";
      background: $afterBeforeBg;
      position: absolute;
      display: inline-block;
      width: 60px;
      height: 108px;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      bottom: 14px;
      right: 15px;
    }
  }
}
