// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.know-navbar {
    background: $primary-color;
    min-height: 60px;

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $nav-link-color;
                text-transform: uppercase;
                padding-bottom: 0;
                font-weight: 700;
                transition: all 0.2s ease-in-out;
                position: relative;
                font-size: $nav-link-font-size;
                @include media-breakpoint-up(sm) {
                    font-size: $nav-link-font-size;
                }
                @include media-breakpoint-up(md) {
                    font-size: $nav-link-font-size;
                }
                @include media-breakpoint-up(lg) {
                    font-size: $nav-link-font-size;
                }
                @include media-breakpoint-up(xl) {
                    font-size: $nav-link-font-size;
                }
                @include media-breakpoint-up(xxl) {
                    font-size: $nav-link-font-size;
                }

                &::after {
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    border-bottom: 1.5px solid $secondary-color;
                    transition: width 0.4s ease 0s, left 0.3s ease 0s;
                    width: 0;
                    left: 0;
                }

                // &::before {
                //   bottom: 0;
                //   content: "";
                //   display: block;
                //   height: 2px;
                //   position: absolute;
                //   border-bottom: 1.5px solid $nav-link-color;
                //   transition: width 0.3s ease 0s, left 0.3s ease 0s;
                //   width: 100%;
                //   right: 0;
                // }

                &.active,
                &:hover {
                    &::after {
                        width: 100%;
                    }

                    // &::before {
                    //   width: 0;
                    // }
                }
            }

            @include media-breakpoint-up(lg) {
                margin-left: $nav-item-margin-left-right-lg;
                margin-right: $nav-item-margin-left-right-lg;
            }
            @include media-breakpoint-up(xl) {
                margin-left: $nav-item-margin-left-right-xl;
                margin-right: $nav-item-margin-left-right-xl;
            }
            @include media-breakpoint-up(xxl) {
                margin-left: $nav-item-margin-left-right-xxl;
                margin-right: $nav-item-margin-left-right-xxl;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .navbar-toggler {
        background-color: unset;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        align-items: center;
        padding: 6px 6px;

        &:focus {
            box-shadow: unset;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28204, 170, 68, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }

    }

    .navbar-brand {
        img {
            max-width: $nav-brand-max-width;
            @include media-breakpoint-up(lg) {
                max-width: $nav-brand-max-width-lg;
            }
            @include media-breakpoint-up(xl) {
                max-width: $nav-brand-max-width-xl;
            }
        }

        .nav-title-text {
            color: $nav-link-color;

            span {
                &:first-child {
                    text-transform: uppercase;
                    font-size: $nav-brang-title-first;
                    font-weight: 700;
                }

                &:last-child {
                    font-size: $nav-brang-title-last;
                    font-weight: 300;
                }
            }
        }
    }


    @include media-breakpoint-up(lg) {
        min-height: 70px;
        max-height: 100px;
    }
}

.program-nav {

    background: #F5F5F7 !important;

    .nav-link, .nav-title-text span {
        color: #111C42 !important;
    }

    // .navbar-toggler{
    //   background-color:  #111C42;
    // }

    .navbar-toggler-icon {

        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2817, 28, 66, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

}
