.custom-paginate{
    text-align: center;
    margin-top: 1rem;

    nav{
        justify-content: center;
        align-items: center;
        display: flex;

        .pagination{
            .page-item{
                width: 50px;
                height: 50px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                align-content: center;
                font-size: 1.1rem;

                .page-link{
                    border: none;
                    outline: none;
                    stroke: none;
                    box-shadow: none;
                    cursor: pointer;
                    border-radius: 9px;
                    background:  #dde6f3;
                    color: #111C42;
                    &:hover{
                        background: $secondary-color;
                        color: #fff;
                    }
                }

                &.active{
                    .page-link{
                        background: $primary-color;
                        color: #fff;
                        &:hover{
                            background: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
