// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.program-section {
    position: relative;
    background: $primary-color;
    padding: 100px 0;
    margin-top: 70px;
    @include media-breakpoint-up(md) {
        margin-top: 69px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 80px;
    }

    @include media-breakpoint-down(md) {
        padding: 70px 0;
    }

    .bg-img {
        position: absolute;
        bottom: 0;
        right: 0.5em;
    }

    .section-content {
        color: #fff;
        //padding: 50px 0;

        .section-text {
            padding-bottom: 10%;
            @include media-breakpoint-up(lg) {
                padding-left: 100px;
            }

            h1 {
                //   margin-bottom: 38px;
                @include rfs(38px, margin-bottom);
                font-weight: 700;

                @include media-breakpoint-up(lg) {
                    font-size: 40px;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 44px;
                }
                @include media-breakpoint-up(xxl) {
                    font-size: 48px;
                }
            }

            p {
                //   margin-bottom: 38px;
               // @include rfs(38px, margin-bottom);
                font-weight: 400;
                @include font-size(24px);
            }

            .program-types {
                list-style-type: disc;
                li {

                    display: flex;
                    display: list-item;
                    justify-content: flex-start;
                    align-items: center;
                    // margin-bottom: 55px;
                    @include rfs(30px, margin-bottom);

                    a{
                        color: #ffffff;
                        svg {
                            width: 29px;
                        }

                        span {
                            font-weight: 400;
                            //   margin-left: 30px;
                            @include rfs(30px, margin-left);
                            @include font-size(24px);
                        }
                    }

                }
            }

            a.next-btn {
                .next-arrow-icon {
                    display: inline-block;
                    width: 1.5em;
                    height: 1.5em;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;

                    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2229%22%20height%3D%228%22%20viewBox%3D%220%200%2029%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M28.3536%204.35355C28.5488%204.15829%2028.5488%203.84171%2028.3536%203.64644L25.1716%200.464464C24.9763%200.269202%2024.6597%200.269202%2024.4645%200.464464C24.2692%200.659726%2024.2692%200.976309%2024.4645%201.17157L27.2929%204L24.4645%206.82842C24.2692%207.02369%2024.2692%207.34027%2024.4645%207.53553C24.6597%207.73079%2024.9763%207.73079%2025.1716%207.53553L28.3536%204.35355ZM4.37114e-08%204.5L28%204.5L28%203.5L-4.37114e-08%203.5L4.37114e-08%204.5Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
                }
            }
        }
    }

    .program-images {
        $padding-prog: 5%;
        $imgs-gap : 20px;
        position: relative;
        padding: 0 $padding-prog;

        @include media-breakpoint-down(lg) {
            padding-left: 0;
        }

        & > .row > div {
            z-index: 2;
        }

        & * {
            width: 100%;
        }

        .program-img {
            border-radius: 3px;
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        .root-imgs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: $imgs-gap;

            & > * {
                z-index: 2;
            }

            .first-row-imgs {
                display: flex;
                justify-content: center;
                align-items: stretch;
                // gap: 2em;
                @include rfs(20px, gap);
            }

            .image4 {
                max-height: 270px;
            }
        }

        .img1 {
            max-height: 300px;
        }
        .img2 {
            max-height: 175px;
        }
        .img3 {
            max-height: 115px;
        }
        .img4 {
            max-height:210px;
        }

        &::after {
            content: "";
            border: 2px solid $secondary-color;
            width: 200px;
            max-width: 30%;
            height: 110%;
            //@include media-breakpoint-up(sm){
            //    height:calc(506px + ( $padding-prog * 2 ) + $imgs-gap);
            //}
            //@include media-breakpoint-up(md){
            //    height:calc(681px + ( $padding-prog * 2 ) + $imgs-gap);
            //}
            //@include media-breakpoint-up(lg){
            //    height: calc(412px + ( $padding-prog * 2 ) + $imgs-gap);
            //}
            //@include media-breakpoint-up(xl){
            //    height: calc(510px + ( $padding-prog * 2 ) + $imgs-gap);
            //}
            //@include media-breakpoint-up(xxl){
            //    height: calc(603px + ( $padding-prog * 2 ) + $imgs-gap);
            //}

            border-radius: 3px;
            position: absolute;
            top: -$padding-prog;
            right: 0;


        }
    }

    &::after {

        @include lineProp(rgba(204, 170, 68, 0.4), 0, 1%, unset, unset);
        @include media-breakpoint-up(lg){
            bottom: 3%;
        }
        @include media-breakpoint-down(md) {
            bottom: 2%;
        }
        width: 800px;
        max-width: 40%;

    }

    &::before {

        @include lineProp(rgba(204, 170, 68, 0.4), 0, 4%, unset, unset);
        @include media-breakpoint-up(lg){
            bottom: 7%;
        }
        @include media-breakpoint-down(md) {
            bottom: 4%;
        }
        width: 400px;
        max-width: 20%;

    }

    .container {
        &::after {

            @include lineProp(rgba(204, 170, 68, 0.4), unset, unset, 0, 1%);
            @include media-breakpoint-up(lg){
                top: 3%;
            }
            @include media-breakpoint-down(md) {
                top: 2%;
            }
            width: 800px;
            max-width: 40%;
        }

        &::before {
            @include lineProp(rgba(204, 170, 68, 0.4), unset, unset, 0, 4%);
            @include media-breakpoint-up(lg){
                top: 7%;
            }
            @include media-breakpoint-down(md) {
                top: 4%;
            }
            width: 400px;
            max-width: 20%;

        }
    }
}
