.search-section {
    position: relative;
    background: $primary-color;
    padding: 50px 0;

    @include media-breakpoint-down(md) {
        padding: 20px 0;
    }

    .bg-img {
        position: absolute;
        bottom: 0;
        right: 0.5em;
    }
    .section-content {
        color: #fff;
        padding: 50px 0;
    }

    .courses{
        .courses-list{
            li{
                & > div{
                    @include media-breakpoint-down(md){
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
                margin-bottom: 50px;
                img{
                    width: 250px;
                    height: 200px;
                    object-fit: cover;

                    @include media-breakpoint-down(md){
                        width: 500px;
                    }
                }


            }
        }
    }
}
