// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.search {
  position: relative;
  background: $primary-color;
  padding: 50px 0 !important;

    .container{
        & > div{
            @include padding-left(120px);

            @include media-breakpoint-down(md){
                padding-left: 0;
            }
        }

    }
  p {
    font-family: "Dubai-Regular", serif;
    font-weight: 400;
    margin-bottom: 38px;
    @include font-size(36px);
    @include rfs(44px,line-height);
    // font-size: 20px;
    // line-height: 25px;

    // @include media-breakpoint-up(sm) {
    //   font-size: 30px;
    //   line-height: 35px;
    // }
    // @include media-breakpoint-up(lg) {
    //     font-size: 36px;
    //     line-height: 44px;
    //   }
    span {
      display: block;
      font-family: "Dubai-Bold", serif;
      font-weight: bold;
    }
  }
  .from-search-div {
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    .select2-container{
      width: 100%  !important;
      min-width: 200px;
      @include media-breakpoint-up(lg) {
        width: 100% !important
      }
    }
    .select2-selection{
      -webkit-box-shadow: 0;
      box-shadow: 0;
      background-color: #fff;
      border: 0;
      border-radius: 0;
      color: #333333;
      font-size: 16px;
      outline: 0;
      min-height: 35px;
      text-align: left;
    }

    .select2-selection__rendered {
      margin: 3px;
      padding-top: 3px;
    }
    .select2-selection__arrow {
      padding-top: 3px;
      margin: 3px;
    }
    // select {
    //   padding: 7px;
    //   font-size: 16px;
    //   font-family: "Dubai-Light", serif;
    //   font-weight: 400;
    //   color: #333333;
    //   line-height: 20px;
    //   min-width: 200px;
    //   /* for Firefox */
    //   -moz-appearance: none;
    //   /* for Chrome */
    //   -webkit-appearance: none;

    //   &::-ms-expand {
    //     display: none;
    //   }
    //   &:focus{
    //     box-shadow: unset;
    //   }

    //   option{
    //     background-color: #fff;
    //     &:hover{
    //       background-color: #ccaa4480;
    //     }
    //   }
    // }
    .button {
      display: contents;
      button {
        padding: 5px 30px;
        font-family: "Dubai-Regular", serif;

        font-weight: 500;
        font-size: 15px;
        line-height: 27px;
        @include media-breakpoint-up(sm) {
          padding: 5px 30px;
          font-size: 15px;
          line-height: 27px;
        }
        @include media-breakpoint-up(lg) {
            padding: 0 50px;
            font-size: 22px;
            line-height: 27px;
          }
      }
    }
  }

  &::before {
    content: "";
    border-bottom: 2px solid $secondary-color;
    width: calc((100vw - var(--bs-gutter-x, 0.75rem)) / 2);
    position: absolute;
    right: 0;
    top: 10%;
    @include media-breakpoint-up(sm) {
      top: 15%;
      @include lineWidthCalc("sm", 0);
    }
    @include media-breakpoint-up(md) {
      top: 30%;
      @include lineWidthCalc("md", 0);
    }
    @include media-breakpoint-up(lg) {
        @include lineWidthCalc("lg", 0);
      }
      @include media-breakpoint-up(xl) {
        @include lineWidthCalc("xl", 0);
      }
      @include media-breakpoint-up(xxl) {
        @include lineWidthCalc("xxl", 0);
      }
  }

  .container {
    &::before {
      content: "";
      border-bottom: 2px solid $secondary-color;
      width: calc((100vw - var(--bs-gutter-x, 0.75rem)) / 2 - 20%);
      position: absolute;
      right: 0;
      top: 20%;
      @include media-breakpoint-up(sm) {
        top: 25%;
        @include lineWidthCalc("sm", 4%);
      }
      @include media-breakpoint-up(md) {
        top: 50%;
        @include lineWidthCalc("md", 4%);
      }
      @include media-breakpoint-up(lg) {
        @include lineWidthCalc("lg", 4%);
      }
      @include media-breakpoint-up(xl) {
        @include lineWidthCalc("xl", 4%);
      }
      @include media-breakpoint-up(xxl) {
        @include lineWidthCalc("xxl", 1%);
      }
    }
  }
}
