// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.top-courses {
    @include rfs(70px, margin-top);

    .section-title {
        @include rfs(48px, margin-bottom);

        h2 {
            color: $primary-color;
            font-family: "Dubai-Bold", serif;
            font-weight: 600;
            @include font-size(34px !important);
        }
    }

    .section-content {
        .courses-slider {
            @include rfs(100px, margin-bottom);
            overflow: hidden;

            .top-courses-swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        @include rfs(30px, margin-right);
                        @include rfs(30px, margin-left);

                        @include topCoursesSizing();


                        .course-slide-item {
                            border: 0;
                            overflow: hidden;
                            height: inherit;

                            a {
                                color: #ffffff;

                                .course-slide-bg {
                                    img {
                                        position: absolute;
                                        z-index: 1;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: fill;
                                    }

                                    &::before {
                                        content: "";
                                        width: 100%;
                                        position: absolute;
                                        height: 100%;
                                        background: rgba(204, 170, 68, 0.3);
                                        z-index: 2;
                                    }
                                }

                                .course-slide-content {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: -55%;
                                    background-color: rgba(204, 170, 68, 0.94);
                                    z-index: 3;
                                    height: 55%;

                                    transition: all 0.5s ease 0s;


                                    padding: 30px 25px;
                                    @include media-breakpoint-up(md) {
                                        padding: 35px 25px;
                                    }
                                    @include media-breakpoint-up(xxl) {
                                        padding: 44px 33px;
                                    }

                                    @include topCoursesContentMargin();

                                    .course-slide-price {
                                        color: $primary-color;
                                        font-family: "Dubai-Light", serif;
                                        font-weight: 600;

                                        @include topcoursesFont1();
                                    }

                                    .course-slide-name {
                                        margin-bottom: 0;
                                        color: $nav-link-color;
                                        font-family: "Dubai-Regular";
                                        font-weight: 500;
                                        @include topcoursesFont2();
                                    }

                                    .course-slide-location {
                                        .text {
                                            color: #fff;
                                            font-family: "Dubai-Light";
                                            font-weight: 400;
                                            @include topcoursesFont1();
                                        }

                                        .icon {
                                            @include topCoursesLocationSvg();
                                        }
                                    }

                                    .course-slide-type {
                                        color: rgba(255, 255, 255, 0.75);
                                        font-family: "Dubai-Light";
                                        font-weight: 400;
                                        @include topcoursesFont1();
                                    }
                                }
                            }

                        }
                    }
                }
            }

            .top-courses-swiper-button-prev,
            .top-courses-swiper-button-next {
                @include nextPrevSizes();
            }
        }
    }

    .course-button {
        @include topCoursesBtn();
    }
}

:is(.course-slide-item:hover, .swiper-slide.swiper-slide-active)
.course-slide-content {
    bottom: 0 !important;
}
