// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
.upcoming-courses {
  background: $primary-color;
  position: relative;
  @include rfs(90px, padding-top);
  @include rfs(50px, padding-bottom);
  // padding: $upcoming-section-padding-top-bottom 0;

  // @include media-breakpoint-up(sm) {
  //   padding: $upcoming-section-padding-top-bottom-sm 0;
  // }
  // @include media-breakpoint-up(md) {
  //   padding: $upcoming-section-padding-top-bottom-md 0;
  // }
  // @include media-breakpoint-up(lg) {
  //   padding: $upcoming-section-padding-top-bottom-lg 0;
  // }
  // @include media-breakpoint-up(xl) {
  //   padding: $upcoming-section-padding-top-bottom-xl 0;
  // }
  // @include media-breakpoint-up(xxl) {
  //   padding: $upcoming-section-padding-top-bottom-xxl 0;
  // }

  .section-title {
    @include margin-bottom(30px);
    //margin-left: calc((var(--bs-gutter-x, 0.75rem)) / 2);
    // margin-bottom: $upcoming-section-title-margin-bottom;
    // @include media-breakpoint-up(sm) {
    //   @include lineMaginLeftCalc("sm", 0);
    //   margin-bottom: $upcoming-section-title-margin-bottom-sm;
    // }
    // @include media-breakpoint-up(md) {
    //   @include lineMaginLeftCalc("md", 0);
    //   margin-bottom: $upcoming-section-title-margin-bottom-md;
    // }
    // @include media-breakpoint-up(lg) {
    //   @include lineMaginLeftCalc("lg", 0);
    //   margin-bottom: $upcoming-section-title-margin-bottom-lg;
    // }
    // @include media-breakpoint-up(xl) {
    //   @include lineMaginLeftCalc("xl", 0);
    //   margin-bottom: $upcoming-section-title-margin-bottom-xl;
    // }
    // @include media-breakpoint-up(xxl) {
    //   @include lineMaginLeftCalc("xxl", 0);
    //   margin-bottom: $upcoming-section-title-margin-bottom-xxl;
    // }
    h2 {
      color: $secondary-color;
      font-family: "Dubai-Light", serif;
      font-weight: 400;
      text-transform: uppercase;
      @include font-size(24px);
      // font-size: $upcoming-h1-font-size !important;
      // @include media-breakpoint-up(sm) {
      //   font-size: $upcoming-h1-font-size-sm !important;
      // }
      // @include media-breakpoint-up(md) {
      //   font-size: $upcoming-h1-font-size-md !important;
      // }
      // @include media-breakpoint-up(lg) {
      //   font-size: $upcoming-h1-font-size-lg !important;
      // }
      // @include media-breakpoint-up(xl) {
      //   font-size: $upcoming-h1-font-size-xl !important;
      // }
      // @include media-breakpoint-up(xxl) {
      //   font-size: $upcoming-h1-font-size-xxl !important;
      // }
    }
  }

  .upcoming-swiper {
    overflow: hidden;
    .swiper-wrapper {
      @include rfs(90px,padding-bottom);
      // padding-bottom: $upcoming-swiper-wrapper-padding-bottom;
      // @include media-breakpoint-up(sm) {
      //   padding-bottom: $upcoming-swiper-wrapper-padding-bottom-sm;
      // }
      // @include media-breakpoint-up(md) {
      //   padding-bottom: $upcoming-swiper-wrapper-padding-bottom-md;
      // }
      // @include media-breakpoint-up(lg) {
      //   padding-bottom: $upcoming-swiper-wrapper-padding-bottom-lg;
      // }
      // @include media-breakpoint-up(xl) {
      //   padding-bottom: $upcoming-swiper-wrapper-padding-bottom-xl;
      // }
      // @include media-breakpoint-up(xxl) {
      //   padding-bottom: $upcoming-swiper-wrapper-padding-bottom-xxl;
      // }
    }
    .upcoming-course-item {
      
      color: #fff;
      // padding-left: 120px;
      .upcoming-course-content {
        max-width: 100%;
        @include padding-left(120px);
        // padding-left: $upcoming-course-content-padding-left;
        // @include media-breakpoint-up(sm) {
        //   padding-left: $upcoming-course-content-padding-left-sm;
        // }
        // @include media-breakpoint-up(md) {
        //   padding-left: $upcoming-course-content-padding-left-md;
        // }
        // @include media-breakpoint-up(lg) {
        //   padding-left: $upcoming-course-content-padding-left-lg;
        // }
        // @include media-breakpoint-up(xl) {
        //   max-width: 100%;
        //   padding-left: $upcoming-course-content-padding-left-xl;
        // }
        // @include media-breakpoint-up(xxl) {
        //   max-width: 100%;
        //   padding-left: $upcoming-course-content-padding-left-xxl;
        // }
        .course-date {
          font-family: "Dubai-Light", serif;
          font-weight: 400;
          @include font-size(20px);
          // font-size: $course-date-font-size;
          // margin-bottom: $course-date-margin-bottom;
          // @include media-breakpoint-up(sm) {
          //   font-size: $course-date-font-size-sm;
          //   margin-bottom: $course-date-margin-bottom-sm;
          // }
          // @include media-breakpoint-up(md) {
          //   font-size: $course-date-font-size-md;
          //   margin-bottom: $course-date-margin-bottom-md;
          // }
          // @include media-breakpoint-up(lg) {
          //   font-size: $course-date-font-size-lg;
          //   margin-bottom: $course-date-margin-bottom-lg;
          // }
          // @include media-breakpoint-up(xl) {
          //   font-size: $course-date-font-size-xl;
          //   margin-bottom: $course-date-margin-bottom-xl;
          // }

          // @include media-breakpoint-up(xxl) {
          //   font-size: $course-date-font-size-xxl;
          //   margin-bottom: $course-date-margin-bottom-xxl;
          // }

          span {
            color: $secondary-color;
          }
        }

        h2 {
          font-family: "Dubai-Light", serif;
          font-weight: 400;
          @include font-size(35px);
          // font-size: $course-h2-font-size;
          // margin-bottom: $course-h2-margin-bottom;
          // @include media-breakpoint-up(sm) {
          //   font-size: $course-h2-font-size-sm;
          //   margin-bottom: $course-h2-margin-bottom-sm;
          // }
          // @include media-breakpoint-up(md) {
          //   font-size: $course-h2-font-size-md;
          //   margin-bottom: $course-h2-margin-bottome-md;
          // }
          // @include media-breakpoint-up(lg) {
          //   font-size: $course-h2-font-size-lg;
          //   margin-bottom: $course-h2-margin-bottom-lg;
          // }
          // @include media-breakpoint-up(xl) {
          //   font-size: $course-h2-font-size-xl;
          //   margin-bottom: $course-h2-margin-bottom-xl;
          // }
          // @include media-breakpoint-up(xxl) {
          //   font-size: $course-h2-font-size-xxl;
          //   margin-bottom: $course-h2-margin-bottom-xxl;
          // }
        }

        .join {
          .join-icon {
            background: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include rfs(50px,width);
            @include rfs(50px,height);
            // width: $join-icon-size;
            // height: $join-icon-size;
            // @include media-breakpoint-up(sm) {
            //   width: $join-icon-size-sm;
            //   height: $join-icon-size-sm;
            // }
            // @include media-breakpoint-up(md) {
            //   width: $join-icon-size-md;
            //   height: $join-icon-size-md;
            // }
            // @include media-breakpoint-up(lg) {
            //   width: $join-icon-size-lg;
            //   height: $join-icon-size-lg;
            // }
            // @include media-breakpoint-up(xl) {
            //   width: $join-icon-size-xl;
            //   height: $join-icon-size-xl;
            // }
            // @include media-breakpoint-up(xl) {
            //   width: $join-icon-size-xxl;
            //   height: $join-icon-size-xxl;
            // }
            svg {
              @include rfs(25px,width);
            @include rfs(25px,height);
              // width: calc($join-icon-size / 2);
              // height: calc($join-icon-size / 2);
              // @include media-breakpoint-up(sm) {
              //   width: calc($join-icon-size-sm / 2);
              //   height: calc($join-icon-size-sm / 2);
              // }
              // @include media-breakpoint-up(md) {
              //   width: calc($join-icon-size-md / 2);
              //   height: calc($join-icon-size-md / 2);
              // }
              // @include media-breakpoint-up(lg) {
              //   width: calc($join-icon-size-lg / 2);
              //   height: calc($join-icon-size-lg / 2);
              // }
              // @include media-breakpoint-up(xl) {
              //   width: calc($join-icon-size-xl / 2);
              //   height: calc($join-icon-size-xl / 2);
              // }
              // @include media-breakpoint-up(xxl) {
              //   width: calc($join-icon-size-xxl / 2);
              //   height: calc($join-icon-size-xxl / 2);
              // }
            }
          }
          .join-text {
            color: $secondary-color;
            position: relative;
            font-family: "Dubai-Light", serif;
            font-weight: 400;
            @include font-size(19px);
            // font-size: $join-text-font-size-sm;
            // padding-bottom: 5px;
            // @include media-breakpoint-up(sm) {
            //   font-size: $join-text-font-size-sm;
            //   padding-bottom: 5px;
            // }
            // @include media-breakpoint-up(md) {
            //   font-size: $join-text-font-size-md;
            //   padding-bottom: 5px;
            // }
            // @include media-breakpoint-up(lg) {
            //   font-size: $join-text-font-size-lg;
            //   padding-bottom: 5px;
            // }
            // @include media-breakpoint-up(xl) {
            //   font-size: $join-text-font-size-xl;
            //   padding-bottom: 5px;
            // }
            // @include media-breakpoint-up(xxl) {
            //   font-size: $join-text-font-size-xxl;
            //   padding-bottom: 5px;
            // }

            span {
            }

            &::after {
              content: "";
              width: 0;
              border-bottom: 1px solid $secondary-color;
              position: absolute;
              bottom: 0;
              left: 0;
              transition: width 0.4s ease 0s, left 0.3s ease 0s;
            }

            &:hover{
              &::after{
                width: 60%;
              }
            }
          }

          

          
        }

        @include media-breakpoint-up(sm) {
          .gap-4 {
            gap: 1.5rem !important;
            gap: 1rem !important;
          }
        }
      }
    }

    .upcoming-swiper-pagination {
      font-family: "Dubai-Light", serif;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      left: unset;
      top: unset;
      text-align: right;
      color: #fff;
      z-index: 0;
      // bottom: 11%;
      // right: 2%;
      @include rfs(16px ,bottom);
      @include rfs(25px ,right);
      // font-size: $slider-total-size;
      // line-height: calc($slider-number-size - $slider-total-size);
      // @include media-breakpoint-up(sm) {
      //   bottom: 12%;
      //   right: 2%;
      //   font-size: $slider-total-sm-size;
      //   line-height: calc($slider-number-sm-size - $slider-total-sm-size);
      // }

      // @include media-breakpoint-up(md) {
      //   bottom: 11%;
      //   right: 2%;
      //   // font-size: $slider-total-md-size;
      //   // line-height: calc($slider-number-md-size - $slider-total-md-size);
      // }
      // @include media-breakpoint-up(lg) {
      //   bottom: 10%;
      //   right: 2%;
      //   // font-size: $slider-total-lg-size;
      //   // line-height: calc($slider-number-lg-size - $slider-total-lg-size);
      // }
      // @include media-breakpoint-up(xl) {
      //   bottom: 9%;
      //   right: 2%;
      //   // font-size: $slider-total-xl-size;
      //   // line-height: calc($slider-number-xl-size - $slider-total-xl-size);
      // }

      // @include media-breakpoint-up(xxl) {
      //   bottom: 8%;
      //   right: 2%;
      //   // font-size: $slider-total-xxl-size;
      //   // line-height: calc($slider-number-xxl-size - $slider-total-xxl-size);
      // }

      .swiper-pagination-current {
        // font-size: $slider-number-size;
        // line-height: $slider-number-line;
        @include font-size(48px);
        @include rfs(55px,line-height);
        // @include media-breakpoint-up(sm) {
        //   font-size: $slider-number-sm-size;
        //   line-height: $slider-number-sm-line;
        // }
        // @include media-breakpoint-up(md) {
        //   font-size: $slider-number-md-size;
        //   line-height: $slider-number-md-line;
        // }
        // @include media-breakpoint-up(lg) {
        //   font-size: $slider-number-lg-size;
        //   line-height: $slider-number-lg-line;
        // }
        // @include media-breakpoint-up(xl) {
        //   font-size: $slider-number-xl-size;
        //   line-height: $slider-number-xl-line;
        // }
        // @include media-breakpoint-up(xxl) {
        //   font-size: $slider-number-xxl-size;
        //   line-height: $slider-number-xxl-line;
        // }
      }
      .swiper-pagination-total{
        @include font-size(14px);
        @include rfs(34px,line-height);
      }
    }

    .upcoming-swiper-button-prev {
      position: absolute;
      left: unset;
      top: unset;
      bottom: 0%;
      z-index: 99999;
      right: 50px;
      @include media-breakpoint-up(sm) {
        right: 45px;
      }
      @include media-breakpoint-up(md) {
        right: 40px;
      }
      @include media-breakpoint-up(lg) {
        right: 45px;
      }
      @include media-breakpoint-up(xl) {
        right: 50px;
      }
      @include media-breakpoint-up(xxl) {
        right: 50px;
      }
    }

    .upcoming-swiper-button-next {
      position: absolute;
      left: unset;
      top: unset;
      bottom: calc(7% + $slider-number-line);
      z-index: 99999;
      right: 50px;
      // @include rfs(calc(55px + 51px), bottom);
      // @include rfs(50px , right);
      @include media-breakpoint-up(sm) {
        bottom: calc(7% + $slider-number-sm-line);
        right: 45px;
      }
      @include media-breakpoint-up(md) {
        bottom: calc(7% + $slider-number-md-line);
        right: 40px;
      }
      @include media-breakpoint-up(lg) {
        bottom: calc(7% + $slider-number-lg-line);
        right: 45px;
      }
      @include media-breakpoint-up(xl) {
        bottom: calc(7% + $slider-number-xl-line);
        right: 50px;
      }
      @include media-breakpoint-up(xxl) {
        bottom: calc(7% + $slider-number-xxl-line);
        right: 50px;
      }
    }

    .upcoming-swiper-button-next,
    .upcoming-swiper-button-prev {
      @include nextPrevSizes();
    }
  }

  &::before {
    content: "";
    border-bottom: 2px solid rgba(204, 170, 68, 0.16);
    position: absolute;
    width: 15%;
    right: 5px;
    top: 50%;

    @include media-breakpoint-up(sm) {
      width: 15%;
      right: 5px;
      top: 50%;
    }
    @include media-breakpoint-up(md) {
      width: 15%;
      right: 5px;
      top: 50%;
    }
    @include media-breakpoint-up(lg) {
      width: 15%;
      right: 5px;
      top: 50%;
    }
    @include media-breakpoint-up(xl) {
      width: 15%;
      right: 5px;
      top: 50%;
    }
    @include media-breakpoint-up(xxl) {
      width: 15%;
      right: 5px;
      top: 50%;
    }
  }

  &::after {
    content: "";
    border-left: 2px solid $secondary-color;
    width: 0%;
    position: absolute;
    z-index: 3;
    height: 15%;
    left: 30%;
    top: -20px;
    @include media-breakpoint-up(sm) {
      height: 15%;
      left: 30%;
      top: -20px;
    }
    @include media-breakpoint-up(md) {
      height: 15%;
      left: 30%;
      top: -20px;
    }
    @include media-breakpoint-up(lg) {
      height: 15%;
      left: 30%;
      top: -20px;
    }
    @include media-breakpoint-up(xl) {
      height: 15%;
      left: 30%;
      top: -20px;
    }
    @include media-breakpoint-up(xxl) {
      height: 15%;
      left: 30%;
      top: -20px;
    }
  }

  .container {
    &::before {
      content: "";
      border-bottom: 2px solid rgba(204, 170, 68, 0.16);
      position: absolute;
      right: 0;
      top: 55%;
      width: 10%;
      @include media-breakpoint-up(sm) {
        right: 0;
        top: 55%;
        width: 10%;
      }
      @include media-breakpoint-up(md) {
        right: 0;
        top: 55%;
        width: 10%;
      }
      @include media-breakpoint-up(lg) {
        right: 0;
        top: 55%;
        width: 10%;
      }
      @include media-breakpoint-up(xl) {
        right: 0;
        top: 55%;
        width: 10%;
      }
      @include media-breakpoint-up(xxl) {
        right: 0;
        top: 55%;
        width: 10%;
      }
    }
    &::after {
      content: "";
      border-left: 2px solid $secondary-color;
      width: 0%;
      position: absolute;
      z-index: 9;
      height: 15%;
      left: 32%;
      top: -30px;
      @include media-breakpoint-up(sm) {
        height: 15%;
        left: 32%;
        top: -30px;
      }
      @include media-breakpoint-up(md) {
        height: 15%;
        left: 32%;
        top: -30px;
      }
      @include media-breakpoint-up(lg) {
        height: 15%;
        left: 32%;
        top: -40px;
      }
      @include media-breakpoint-up(xl) {
        height: 15%;
        left: 32%;
        top: -50px;
      }
      @include media-breakpoint-up(xxl) {
        height: 15%;
        left: 32%;
        top: -50px;
      }
    }
  }
}
