// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

$primary-color: linear-gradient(267.18deg, #111C42 7.62%, #071235 96.01%);;
$secondary-color: #CCAA44;
$nav-link-color: #fff;
$color-white: #FAFAFB;
$input-color: #959595;










@import "./variables/nav-var";
@import "./variables/header-var";
@import "./variables/upcoming-courses-var";
@import "./variables/top-courses-var";