// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
$header-height: 400px;
$header-height-sm: 500px;
$header-height-md: 500px;
$header-height-lg: 550px;
$header-height-xl: 600px;
$header-height-xxl: 700px;

$title-font-size:18px;
$title-font-size-sm:20px;
$title-font-size-md:26px;
$title-font-size-lg:35px;
$title-font-size-xl:40px;
$title-font-size-xxl:47px;

$title-margin-bottom:12px;
$title-margin-bottom-sm:16px;
$title-margin-bottom-md:20px;
$title-margin-bottom-lg:26px;
$title-margin-bottom-xl:30px;
$title-margin-bottom-xxl:39px;



$p-font-size:14px;
$p-font-size-sm:16px;
$p-font-size-md:18px;
$p-font-size-lg:20px;
$p-font-size-xl:23px;
$p-font-size-xxl:29px;

$p-margin-bottom:14px;
$p-margin-bottom-sm:18px;
$p-margin-bottom-md:22px;
$p-margin-bottom-lg:29px;
$p-margin-bottom-xl:35px;
$p-margin-bottom-xxl:39px;


$rectangle-width:80vw;
$rectangle-width-sm:80vw;
$rectangle-width-md:28vw;
$rectangle-width-lg:28vw;
$rectangle-width-xl:28vw;
$rectangle-width-xxl:28vw;

$img-bottom-size:25px;
$img-bottom-size-sm:25px;
$img-bottom-size-md:25px;
$img-bottom-size-lg:25px;
$img-bottom-size-xl:25px;
$img-bottom-size-xxl:25px;

$search-input-font-size:14px;
$search-input-font-size-sm:14px;
$search-input-font-size-md:14px;
$search-input-font-size-lg:14px;
$search-input-font-size-xl:14px;
$search-input-font-size-xxl:14px;

$search-btn-font-size:12px;
$search-btn-font-size-sm:14px;
$search-btn-font-size-md:16px;
$search-btn-font-size-lg:16px;
$search-btn-font-size-xl:18px;
$search-btn-font-size-xxl:18px;


$dropdown-nav-link-font-size:14px;
$dropdown-nav-link-font-size-sm:14px;
$dropdown-nav-link-font-size-md:16px;
$dropdown-nav-link-font-size-lg:16px;
$dropdown-nav-link-font-size-xl:18px;
$dropdown-nav-link-font-size-xxl:18px;

