// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
$nav-link-font-size:14px;
$nav-link-font-size-sm:14px;
$nav-link-font-size-md:14px;
$nav-link-font-size-lg:14px;
$nav-link-font-size-xl:14px;
$nav-link-font-size-xxl:14px;


$nav-item-margin-left-right:18px;
$nav-item-margin-left-right-sm:18px;
$nav-item-margin-left-right-md:18px;
$nav-item-margin-left-right-lg:7px;
$nav-item-margin-left-right-xl:15px;
$nav-item-margin-left-right-xxl:20px;


$nav-brand-max-width:60px;
$nav-brand-max-width-sm:60px;
$nav-brand-max-width-md:60px;
$nav-brand-max-width-lg:80px;
$nav-brand-max-width-xl:96px;
$nav-brand-max-width-xxl:96px;


$nav-brang-title-first:14px;
$nav-brang-title-first-sm:14px;
$nav-brang-title-first-md:14px;
$nav-brang-title-first-lg:14px;
$nav-brang-title-first-xl:14px;
$nav-brang-title-firstxxl:14px;

$nav-brang-title-last:14px;
$nav-brang-title-last-sm:14px;
$nav-brang-title-last-md:14px;
$nav-brang-title-last-lg:14px;
$nav-brang-title-last-xl:14px;
$nav-brang-title-last-xxl:14px;
