// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
$top-courses-min-height: 330px;
$top-courses-min-height-sm: 416px;
$top-courses-min-height-md: 456px;
$top-courses-min-height-lg: 496px;
$top-courses-min-height-xl: 536px;
$top-courses-min-height-xxl: 576px;

$top-courses-width: 250px;
$top-courses-width-sm: 318px;
$top-courses-width-md: 358px;
$top-courses-width-lg: 398px;
$top-courses-width-xl: 438px;
$top-courses-width-xxl: 478px;

$course-slide-price-font-size: 11px;
$course-slide-price-font-size-sm: 13px;
$course-slide-price-font-size-md: 15px;
$course-slide-price-font-size-lg: 17px;
$course-slide-price-font-size-xl: 19px;
$course-slide-price-font-size-xxl: 21px;

$course-slide-name-font-size: 15px;
$course-slide-name-font-size-sm: 17px;
$course-slide-name-font-size-md: 19px;
$course-slide-name-font-size-lg: 21px;
$course-slide-name-font-size-xl: 23px;
$course-slide-name-font-size-xxl: 25px;

$course-slide-active-price-font-size: 16px;
$course-slide-active-price-font-size-sm: 18px;
$course-slide-active-price-font-size-md: 20px;
$course-slide-active-price-font-size-lg: 22px;
$course-slide-active-price-font-size-xl: 24px;
$course-slide-active-price-font-size-xxl: 26px;

$course-slide-active-name-font-size: 18px;
$course-slide-active-name-font-size-sm: 20px;
$course-slide-active-name-font-size-md: 22px;
$course-slide-active-name-font-size-lg: 24px;
$course-slide-active-name-font-size-xl: 26px;
$course-slide-active-name-font-size-xxl: 28px;

@mixin topcoursesFont1 {
  font-size: $course-slide-price-font-size;
  @include media-breakpoint-up(sm) {
    font-size: $course-slide-price-font-size-sm;
  }
  @include media-breakpoint-up(md) {
    font-size: $course-slide-price-font-size-md;
  }
  @include media-breakpoint-up(lg) {
    font-size: $course-slide-price-font-size-lg;
  }
  @include media-breakpoint-up(xl) {
    font-size: $course-slide-price-font-size-xl;
  }
  @include media-breakpoint-up(xxl) {
    font-size: $course-slide-price-font-size-xxl;
  }
}
@mixin topcoursesFont2 {
  font-size: $course-slide-name-font-size;
  @include media-breakpoint-up(sm) {
    font-size: $course-slide-name-font-size-sm;
  }
  @include media-breakpoint-up(md) {
    font-size: $course-slide-name-font-size-md;
  }
  @include media-breakpoint-up(lg) {
    font-size: $course-slide-name-font-size-lg;
  }
  @include media-breakpoint-up(xl) {
    font-size: $course-slide-name-font-size-xl;
  }
  @include media-breakpoint-up(xxl) {
    font-size: $course-slide-name-font-size-xxl;
  }
}

@mixin topcoursesActiveFont1 {
  font-size: $course-slide-active-price-font-size !important;;
  @include media-breakpoint-up(sm) {
    font-size: $course-slide-active-price-font-size-sm !important;
  }
  @include media-breakpoint-up(md) {
    font-size: $course-slide-active-price-font-size-md !important;
  }
  @include media-breakpoint-up(lg) {
    font-size: $course-slide-active-price-font-size-lg !important;
  }
  @include media-breakpoint-up(xl) {
    font-size: $course-slide-active-price-font-size-xl !important;
  }
  @include media-breakpoint-up(xxl) {
    font-size: $course-slide-active-price-font-size-xxl !important;
  }
}
@mixin topcoursesActiveFont2 {
  font-size: $course-slide-active-name-font-size  !important;
  @include media-breakpoint-up(sm) {
    font-size: $course-slide-active-name-font-size-sm!important;
  }
  @include media-breakpoint-up(md) {
    font-size: $course-slide-active-name-font-size-md!important;
  }
  @include media-breakpoint-up(lg) {
    font-size: $course-slide-active-name-font-size-lg !important;
  }
  @include media-breakpoint-up(xl) {
    font-size: $course-slide-active-name-font-size-xl !important;
  }
  @include media-breakpoint-up(xxl) {
    font-size: $course-slide-active-name-font-size-xxl !important; 
  }
}

@mixin topCoursesLocationSvg {
  svg {
    width: 12px;
    height: 14px;
    @include media-breakpoint-up(sm) {
      width: 13px;
      height: 16px;
    }
    @include media-breakpoint-up(md) {
      width: 14px;
      height: 18px;
    }
    @include media-breakpoint-up(lg) {
      width: 15px;
      height: 20px;
    }
    @include media-breakpoint-up(xl) {
      width: 16px;
      height: 22px;
    }
    @include media-breakpoint-up(xxl) {
      width: 17px;
      height: 24px;
    }
  }
}

@mixin topCoursesBtn {
  padding-right: 50px;

  @include media-breakpoint-up(sm) {
    padding-right: 45px;
  }
  @include media-breakpoint-up(md) {
    padding-right: 40px;
  }
  @include media-breakpoint-up(lg) {
    padding-right: 45px;
  }
  @include media-breakpoint-up(xl) {
    padding-right: 50px;
  }
  @include media-breakpoint-up(xxl) {
    padding-right: 50px;
  }
}

@mixin topCoursesContentActive {
}

@mixin topCoursesContentMargin {
   & > * {
      display: block;
    // @include rfs(10px, margin-bottom);

    margin-bottom: 6px !important;
    @include media-breakpoint-up(sm) {
      margin-bottom: 6px !important;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 6px !important;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 8px !important;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 10px !important;
    }
    @include media-breakpoint-up(xxl) {
      margin-bottom: 16px !important;
    }
  }
}

@mixin topCoursesSizing {
   
  height: calc(0.76 * $top-courses-min-height) !important;
  width: calc(0.866 * $top-courses-width) !important;
  @include media-breakpoint-up(sm) {
    height: calc(0.76 * $top-courses-min-height-sm) !important;
    width: calc(0.866 * $top-courses-width-sm) !important;
  }

  @include media-breakpoint-up(md) {
    height: calc(0.76 * $top-courses-min-height-md) !important;
    width: calc(0.866 * $top-courses-width-md) !important;
  }

  @include media-breakpoint-up(lg) {
    height: calc(0.76 * $top-courses-min-height-lg) !important;
    width: calc(0.866 * $top-courses-width-lg) !important;
  }

  @include media-breakpoint-up(xl) {
    height: calc(0.76 * $top-courses-min-height-xl) !important;
    width: calc(0.866 * $top-courses-width-xl) !important;
  }

  @include media-breakpoint-up(xxl) {
    height: calc(0.76 * $top-courses-min-height-xxl) !important;
    width: calc(0.866 * $top-courses-width-xxl) !important;
  }

  &.swiper-slide-active {
      
    height: $top-courses-min-height !important;
    width: $top-courses-width !important;
    @include media-breakpoint-up(sm) {
      height: $top-courses-min-height-sm !important;
      width: $top-courses-width-sm !important;
    }
    @include media-breakpoint-up(md) {
      height: $top-courses-min-height-md !important;
      width: $top-courses-width-md !important;
    }
    @include media-breakpoint-up(lg) {
      height: $top-courses-min-height-lg !important;
      width: $top-courses-width-lg !important;
    }
    @include media-breakpoint-up(xl) {
      height: $top-courses-min-height-xl !important;
      width: $top-courses-width-xl !important;
    }
    @include media-breakpoint-up(xxl) {
      height: $top-courses-min-height-xxl !important;
      width: $top-courses-width-xxl !important;
    }

    .course-slide-content{
        padding: 30px;
    }

    .course-slide-name{
        @include topcoursesActiveFont2();
    }
    .course-slide-price , .course-slide-location .text ,  .course-slide-type{
        @include topcoursesActiveFont1();

    }
  
  }
}
