// =========================================================
// * Know How Training Academya - v1.0.0
// =========================================================
//
// * Product Page: https://www.linkedin.com/in/mohamadmurad/
// * Copyright 2022 Mohamad Murad (https://www.linkedin.com/in/mohamadmurad)
//
// Coded by Mohamad Murad
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
$upcoming-section-padding-top-bottom:30px;
$upcoming-section-padding-top-bottom-sm:30px;
$upcoming-section-padding-top-bottom-md:40px;
$upcoming-section-padding-top-bottom-lg:60px;
$upcoming-section-padding-top-bottom-xl:70px;
$upcoming-section-padding-top-bottom-xxl:90px;


$upcoming-section-title-margin-bottom:30px;
$upcoming-section-title-margin-bottom-sm:30px;
$upcoming-section-title-margin-bottom-md:30px;
$upcoming-section-title-margin-bottom-lg:30px;
$upcoming-section-title-margin-bottom-xl:50px;
$upcoming-section-title-margin-bottom-xxl:30px;

$upcoming-h1-font-size:24px;
$upcoming-h1-font-size-sm:24px;
$upcoming-h1-font-size-md:24px;
$upcoming-h1-font-size-lg:24px;
$upcoming-h1-font-size-xl:21px;
$upcoming-h1-font-size-xxl:28px;

$upcoming-swiper-wrapper-padding-bottom:40px;
$upcoming-swiper-wrapper-padding-bottom-sm:40px;
$upcoming-swiper-wrapper-padding-bottom-md:40px;
$upcoming-swiper-wrapper-padding-bottom-lg:30px;
$upcoming-swiper-wrapper-padding-bottom-xl:30px;
$upcoming-swiper-wrapper-padding-bottom-xxl:30px;

$upcoming-course-content-padding-left:12px;
$upcoming-course-content-padding-left-sm:12px;
$upcoming-course-content-padding-left-md:12px;
$upcoming-course-content-padding-left-lg:12px;
$upcoming-course-content-padding-left-xl:12px;
$upcoming-course-content-padding-left-xxl:12px;

$course-date-font-size:14px;
$course-date-font-size-sm:14px;
$course-date-font-size-md:17px;
$course-date-font-size-lg:20px;
$course-date-font-size-xl:20px;
$course-date-font-size-xxl:24px;

$course-date-margin-bottom:12px;
$course-date-margin-bottom-sm:12px;
$course-date-margin-bottom-md:16px;
$course-date-margin-bottom-lg:19px;
$course-date-margin-bottom-xl:1px;
$course-date-margin-bottom-xxl:12px;

$course-h2-font-size:22px;
$course-h2-font-size-sm:22px;
$course-h2-font-size-md:30px;
$course-h2-font-size-lg:35px;
$course-h2-font-size-xl:38px;
$course-h2-font-size-xxl:48px;

$course-h2-margin-bottom:16px;
$course-h2-margin-bottom-sm:16px;
$course-h2-margin-bottome-md:20px;
$course-h2-margin-bottom-lg:24px;
$course-h2-margin-bottom-xl:15px;
$course-h2-margin-bottom-xxl:66px;




$join-icon-size:30px;
$join-icon-size-sm:30px;
$join-icon-size-md:40px;
$join-icon-size-lg:50px;
$join-icon-size-xl:50px;
$join-icon-size-xxl:50px;


$join-text-font-size:14px;
$join-text-font-size-sm:14px;
$join-text-font-size-md:19px;
$join-text-font-size-lg:19px;
$join-text-font-size-xl:23px;
$join-text-font-size-xxl:28px;

$slider-number-size: 20px;
$slider-number-line: 31px;
$slider-total-size: 10px;


$slider-number-sm-size: 30px;
$slider-number-sm-line: 40px;
$slider-total-sm-size: 12px;

$slider-number-md-size: 40px;
$slider-number-md-line: 46px;
$slider-total-md-size: 12px;

$slider-number-lg-size: 48px;
$slider-number-lg-line: 48px;
$slider-total-lg-size: 14px;


$slider-number-xl-size: 45px;
$slider-number-xl-line: 55px;
$slider-total-xl-size: 16px;

$slider-number-xxl-size: 61px;
$slider-number-xxl-line: 50px;
$slider-total-xxl-size: 18px;